<p>slide-dos works!</p>
<app-botonera-navegacion 
[activarAnterior]="true" 
[activarSiguiente]="true" 
[mostrarVolver]="true"
[mostrarSiguiente]="true"></app-botonera-navegacion>
<!--
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" (click)="volver()">             
  	<fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>
  <button type="button" class="btn btn-primary" (click)="siguiente()">            
  	<fa-icon [icon]="faArrowRight"></fa-icon>
  </button>
</div>
-->